<div class="local-certmaster-stream-player" data-expiresat="{{expiresat}}">
    <iframe
        class="local-certmaster-stream-iframe"
        src="{{iframesrc}}"
        title="{{#str}}streamplayer_title, local_certmaster{{/str}}"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
        allowfullscreen
        loading="lazy"
        style="border: none; width: 100%; aspect-ratio: 16 / 9;"
    ></iframe>
</div>
